.blog-container {
  display: inline-block;

}

.blog-list {
  position: relative;
  width: 450px;
  height: 480px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.blog-list:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px;
}

.blog-link {
  text-decoration: none;
}

.blog-image {
  height: 300px;
  overflow: hidden;
  margin: 0%;
  width: 100%;
}

.blog-info {
  margin: 0.5rem;
  padding: 0 2rem;
}

.blog-text {
  color: #fff;
  padding: 2.5px;
  background-color: #05051b;
  text-align: center;
  margin-top: -5px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blog-btn {
  /* position: relative; */
  margin: 1rem;
  padding-bottom: 20px;
  align-self: center;
  transition: all 1s ease-in-out;
}

/* .blog-btn i {
  position: absolute;
  bottom: 0%;
  right: 0%;
  color: #05051b;
  font-size: 35px;
  cursor: pointer;
  transition: all 1s ease-in-out;
} */

.icon-img {
  margin: 1rem;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0%;
}

.icon-img:hover {
  box-shadow: 0px 0px 15px -6px;
  border-radius: 7px;
}