.blog-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.blog-wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.blog-items {
    margin-bottom: 24px;
}